<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
        <h2>30 Years ago</h2>
        <p><iframe width="380" height="315" src="//www.youtube.com/embed/0TI_eiaf1SQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>60 Years ago</h2>
        <p><iframe width="380" height="315" src="//www.youtube.com/embed/J94Kj0T0MZc" frameborder="0" allowfullscreen></iframe>   </div>
    <div class="col-md-4">
      <h2>Modern Day</h2>
      <p><iframe width="380" height="315" src="//www.youtube.com/embed/e4Ao-iNPPUc" frameborder="0" allowfullscreen></iframe></p>
    </div>
  </div>
