
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="margin-left: auto;margin-right: auto;">
			<img src="place-jacques-cartier.jpg" class="img-responsive" >
		</div>		
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">			
          <h2>RAMs on the loose in Canada!</h2>
          <p>Hey Cannucks you better hide your poontang or is that poutine?<br>Montreal will never be the same...
		<img src="CSU_Ram_Circle_Logo_small.jpg" style='width:60px;'class="img-thumbnail"></p>
          <p><a class="btn btn-default" href="/schedule" role="button">Check Schedule &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Montreal Music Machine</h2>
          <p>Ed had a vision a while back.  Wouldn't it be fun if we could each create a playlist that we could share during our upcoming trip. Well here are the 80 songs that our group selected.</p>
          <p><a class="btn btn-default" href="/songs" role="button">Access the Music &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Special on the History of Cattlechucking</h2>
          <p>As a society we have come a long way over the years.  We have evolved and made the world better place, but good old fashioned cattle-chucking seems to be little changed...</p>
          <p><a class="btn btn-default" href="/cattlechuck" role="button">Watch Videos &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Budak 2014</p>
      </footer>


