		
		<script type="text/javascript">
			jQuery(function($) {

					var index = 0,
					playing = false;
					mediaPath = '/songs_cache/',
					extension = '.mp3',
					tracks = [
{"track":1, "name":"Happy Birthday Variation: In the style of Beethoven", "file":"Bill Withers - Lovely Day (Original Version)"},
{"track":2, "name":"Wedding March Variation 1", "file":"Alicia Myers - I Want To Thank You"},
{"track":3, "name":"Happy Birthday Variation: In the style of Tango", "file":"03_Happy_Birthday_Variation_In_The"},
{"track":4, "name":"Wedding March Variation 2", "file":"04_Wedding_March_2"},
{"track":5, "name":"Random Classical", "file":"05_AFI_com"}
					],
					trackCount = tracks.length,
					npAction = $('#npAction'),
					npTitle = $('#npTitle'),
					audio = $('#audio1').bind('play', function() {
						playing = true;
						npAction.text('Now Playing:');
					}).bind('pause', function() {
						playing = false;
						npAction.text('Paused:');
					}).bind('ended', function() {
						npAction.text('Paused:');
						if((index + 1) < trackCount) {
							index++;
							loadTrack(index);
							audio.play();
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}).get(0),
					btnPrev = $('#btnPrev').click(function() {
						if((index - 1) > -1) {
							index--;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					btnNext = $('#btnNext').click(function() {
						if((index + 1) < trackCount) {
							index++;
							loadTrack(index);
							if(playing) {
								audio.play();
							}
						} else {
							audio.pause();
							index = 0;
							loadTrack(index);
						}
					}),
					playit = $('.play_it').click(function() {
						var id = parseInt($(this)[0].innerText) ;
						console.log(id) ;
//						if(id !== index) {
							playTrack(id);
//						}
					}),
					loadTrack = function(id) {
						$('.plSel').removeClass('plSel');
						$('#plUL li:eq(' + id + ')').addClass('plSel');
						npTitle.text(tracks[id].name);
						index = id;
						audio.src = mediaPath + tracks[id].file + extension;
					},
					playTrack = function(id) {
						loadTrack(id);
						audio.play();
					};
					
					loadTrack(index);

			});
		</script>







    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
          <h1 class="page-header">Montreal Sound Machine</h1>


			<div id="content" role="main">
				<div id="cwrap">
					<div id="nowPlay" class="is-audio">
						<h3 id="npAction">Paused:</h3>
						<div id="npTitle"></div>
					</div>
					<div id="audiowrap">
						<div id="audio0">
							<audio id="audio1" controls="controls">
								Your browser does not support the HTML5 Audio Tag.
							</audio>
						</div>
						<noscript>Your browser does not support JavaScript or JavaScript has been disabled. You will need to enable JavaScript for this page.</noscript>
						<div id="extraControls" class="is-audio">
							<button id="btnPrev" class="ctrlbtn">|&lt;&lt; Prev Track</button> <button id="btnNext" class="ctrlbtn">Next Track &gt;&gt;|</button>
						</div>
					</div>
					<div id="plwrap" class="is-audio">
					</div>
				</div>
			</div>

          <h2 class="sub-header">Songs</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Artist</th>
                  <th>Song Name</th>
                  <th>Youtube</th>
                  <th>MP3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='play_it'>0</td>
                  <td></td>
                  <td>ipsum</td>
                  <td><a href="/songs_cache/Jesse Cook's -Havana.mp3">Download</a></td>
                  <td>Leron</td>
                </tr>
                <tr>
                  <td class='play_it'>1</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
